@tailwind base;
@tailwind components;
@tailwind utilities;



/* #root{
    display: flex;
    justify-content: center;
    background-color: blue;
    
} */

/* 
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    

    
}
 
.items {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.complete {
    text-decoration:solid;
} */