* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root{
  display: flex;
  justify-content: center;
}

#taskItem{
  display: flex;
  margin-bottom: .3rem;
}

#taskText{
  width: 10rem;
}

.toggleBtn{
  margin-left: 2rem;
}

form{
  margin-bottom: .5rem;
}
button{
  margin-right: .3rem;
  margin-left: .3rem;
  border: 1px solid black;
  border-radius: 1px ;
}