*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#people {
  width: 80%;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personName {
  margin-right: 2rem;
}

.person button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: deeppink;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
